/*======================================================
# ESTILIZAÇÕES PRINCIPAIS
======================================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    --gradient-color1: #22107C;
    --gradient-color2: #9E47D6;
    --purple: #5527A3;
    --light-blue: #256eff;
    --lighter-blue: #69c1fc;
    --white: #FFFFFF;
    --black: #000000;
    --dark-blue: #1F0F7B;
    --light-violet: #4717F6;
    --red: #ff4f4f;

    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
    min-height: 100vh;
    min-width: 350px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--white);
}

#home {
    background-image: linear-gradient(145deg, var(--gradient-color1), var(--gradient-color2));
    background-repeat: no-repeat;
}

body.overflow {
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    padding-top: 20px;

    position: relative; /* Ajuda a fixar o footer na parte inferior da página */
}

main a {
    text-decoration: none;
    color: var(--light-violet);
    transition: all 0.2s ease;
}

main a:hover {
    text-decoration: underline;
    color: var(--lighter-blue);
}

/*======================================================
# ESTRUTURA DA NAVBAR
======================================================*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: var(--max-width);
    width: 100%;
    height: 120px;
    position: relative;

    margin-bottom: 20px;
}

/*======================================================
# NAVBAR: LOGO
======================================================*/

header #logo svg path {
    fill: var(--dark-blue);
}

#home header #logo svg path {
    fill: var(--white);
}

/*======================================================
# NAVBAR: MENU
======================================================*/

nav {
    height: 100%;
    color: var(--dark-blue);
}

#home nav {
    color: var(--white);
}

nav i {
    vertical-align: middle;
    margin-right: 4px;
    font-size: 2rem;
    color: var(--dark-blue);
}

#home nav i {
    color: var(--white);
}

.hamburger {
    display: none;
}

.nav-links {
    display: flex;
    align-items: center;

    list-style: none;
    height: 100%;
}

.nav-links .link a {
    color: var(--dark-blue);
    text-decoration: none;
    font-size: 1.6rem;

    margin-left: 40px;
    padding: 10px 14px;
    border: solid 2px transparent;
    border-radius: 10px;
    transition: all 0.2s ease;
}

#home .nav-links .link a {
    color: var(--white);
}

.nav-links .link a:hover {
    border-color: var(--dark-blue);
}

#home .nav-links .link a:hover {
    opacity: 0.5;
    border-color: var(--white);
}

/*======================================================
# ESTILIZAÇÃO MOBILE DA NAVBAR
======================================================*/

@media screen and (max-width: 1250px) {
    header {
        justify-content: space-around;
    }
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 60%;
    }

    header {
        display: block;
    }

    header #logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav {
        position: relative;
    }

    nav > .nav-links i  {
        color: var(--white);
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-50%, -50%);

        z-index: 10; /* to not overlap the hamburger button */
    }

    /*======================================================
    # TRANSIÇÃO DE COR DO ÍCONE DO MENU MOBILE
    ======================================================*/

    .hamburger i {
        transition: all 1s ease;
    }

    .hamburger i.change-color {
        color: var(--white);
    }

    /*======================================================
    # ESTILIZAÇÃO DOS LINKS DA NAVBAR MOBILE
    ======================================================*/

    .nav-links {
        justify-content: space-evenly;

        position: fixed;
        top: 0px;
        background-color: var(--purple);
        min-height: 100vh;
        width: 100%;
        flex-direction: column;

        clip-path: circle(100px at 90% -100%); /* circular mask */
        -webkit-clip-path: circle(100px at 90% -100%);
        transition: all 1.5s ease-out;

        pointer-events: none; /* to avoid clickable areas when hidden */
        z-index: 7;
    }

    .nav-links.open { /* In JavaScript, when we hit the hamburger, it will animate */
        clip-path: circle(2000px at 90% -100%); /* circular mask */
        -webkit-clip-path: circle(2000px at 90% -100%);

        pointer-events: all; /* turn it on again */
    }

    /* Transitioning each of the links */
    .nav-links .link {
        opacity: 0;
    }

    .nav-links .link:nth-child(1) {
        transition: all 0.5s ease 0.2s; /* The last parameter is delay */
    }

    .nav-links .link:nth-child(2) {
        transition: all 0.5s ease 0.4s; /* The last parameter is delay */
    }

    .nav-links .link:nth-child(3) {
        transition: all 0.5s ease 0.6s; /* The last parameter is delay */
    }

    .nav-links .link:nth-child(4) {
        transition: all 0.5s ease 0.8s; /* The last parameter is delay */
    }

    .nav-links .link.fade { /* In JavaScript, when we hit the hamburger, it will animate */
        opacity: 1;
    }

    .nav-links .link a {
        margin: 0;
        color: var(--white);
    }

    .nav-links .link a:hover {
        border-color: var(--white);
        opacity: 0.5;
    }
}

/*======================================================
# MAIN
======================================================*/

main {
    background-color: var(--white);

    width: 100%;
    max-width: 1200px;
    height: fit-content;
    padding-bottom: 50px;
}

section {
    width: 100%;
}

@media screen and (max-width: 1250px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*======================================================
# FOOTER
======================================================*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: 0;

    width: 100%;
    height: fit-content;
    padding: 50px 20px 40px 20px;

    background-image: linear-gradient(145deg, var(--gradient-color1), var(--gradient-color2));
    color: var(--white);
}

footer a {
    text-decoration: none;
    color: var(--lighter-blue);
}

footer a:hover {
    text-decoration: underline;
    color: var(--lighter-blue);
}

footer #footer-info {
    display: flex;
    justify-content: center;

    max-width: 1200px;
    width: 100%;
}

footer #footer-info #contact, footer #footer-info #site-map {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    width: 100%;
    padding: 40px 0;

    border-top: 2px solid var(--white);
}

footer #footer-info #contact {
    margin-right: 20px;
}

footer #footer-info #site-map {
    margin-left: 20px;
}

footer #footer-info #contact h1 {
    font-size: 2.5rem;
}

footer #footer-info #contact p {
    font-size: 1.5rem;
}

footer #footer-info #contact address {
    display: inline-block;
    margin: 0 auto;

    margin-top: 20px;
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
}

footer #footer-info #contact address a::after {
    content: '';
    display: block;
}

footer #footer-info #contact address i {
    margin-right: 5px;
    vertical-align: middle;
}

footer #site-map .center {
    margin: auto;
}

footer #site-map .center h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

footer #site-map #list-sections {
    list-style: none;
    font-size: 1.5rem;
    text-align: left;
}

footer #site-map #list-sections li::before {
    content: "\f153";
    font-family: uicons-solid-rounded !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--white);
}

footer #rights {
    display: block;
    max-width: 1200px;
    width: 100%;

    padding-top: 30px;
    border-top: 2px solid var(--white);
    text-align: center;
    font-size: 1.4rem;
}

footer #rights a {
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    footer #footer-info {
        flex-direction: column;
    }

    footer #footer-info #contact, footer #footer-info #site-map {
        height: fit-content;
    }

    footer #footer-info #contact {
        margin-right: 0;
    }

    footer #footer-info #contact address {
        text-align: center;
    }

    footer #footer-info #contact address a {
        display: block;
    }

    footer #footer-info #contact address a:not(:last-child) {
        margin-bottom: 10px;
    }

    footer #footer-info #site-map {
        margin-left: 0;
    }

    footer #footer-info #contact h1 {
        font-size: 2.2rem;
    }

    footer #footer-info #site-map .center h2 {
        font-size: 2rem;
    }

    footer #rights {
        margin-top: 0;
    }
}
