/*======================================================
# PARTE DA HOME
======================================================*/

.main-index {
    background-color: unset;

    display: block;
    width: 100%;
    max-width: unset;
    height: fit-content;
    padding: 0;
}

#top-part {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px 50px 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 500px;
    margin-right: 50px;
}

#top-part .info {
    color: var(--white);
    text-align: center;
}

.info #slogan {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
}

.info p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;

    margin: 10px 0 20px 0;
}

.btn-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--purple);
    
    padding: 10px 20px;
    background-color: var(--white);
    border-radius: 20px;

    margin: 0 auto;
    transition: all 0.4s ease;
}

.btn-link:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: var(--purple);
}

#top-part img {
    width: 450px;
    height: auto;
}

/*======================================================
# ANIMAÇÃO DAS WAVES
======================================================*/

.waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 50px;
    z-index: 5;
    position: relative;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

/*======================================================
# ESTILIZAÇÃO MOBILE DA TOP-PART E WAVES
======================================================*/

@media screen and (min-width: 800px) and (max-width: 1200px) {
    #top-part img {
        width: 300px;
        height: auto;
    }

    .info {
        max-width: 400px;
        margin-right: 40px;
    }

    .waves {
        height: 40px;
    }
}

@media screen and (max-width: 800px) {
    #top-part {
        flex-direction: column-reverse;
        padding: 0 20px 80px 20px;
    }

    .info {
        margin-right: 0;
    }

    .info #slogan {
        font-size: 2.5rem;
    }

    #top-part img {
        width: 250px;
        height: auto;

        margin-bottom: 20px;
    }

    .waves {
        height: 35px;
    }
}

/*======================================================
# SEÇÃO: CONHEÇA A PREP
======================================================*/

#conheca-prep {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: fit-content;
    background-color: var(--white);

    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: calc((100% - var(--max-width)) / 2);
    padding-right: calc((100% - var(--max-width)) / 2);
}

#conheca-prep .info {
    list-style-position: inside;
    font-size: 1.5rem;
    max-width: 350px;
}

#conheca-prep .info h1 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--dark-blue);
    text-align: center;
}

#conheca-prep .info .list {
    margin: 20px 0;
}

#conheca-prep .btn-link.blue {
    background-color: var(--dark-blue);
    color: var(--white);
}

/*======================================================
# OBJETO - CELULAR
======================================================*/

#conheca-prep .object {
    display: flex;
    position: relative;

    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#conheca-prep .object #back-circ1 {
    width: 30%;
    height: 30%;

    position: absolute;
    left: 5%;
    top: 30%;
    z-index: 0;
}

#conheca-prep .object #back-circ2 {
    background-image: linear-gradient(180deg, #8B1CC9, #AD4EE2, #E3A4F3);
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;

    padding: 10px;
    width: 30%;
    height: 30%;
    border-radius: 50%;

    position: absolute;
    right: 5%;
    bottom: 20%;

    z-index: 3;

    transition: all 0.3s ease;
}

#conheca-prep .object #back-circ2:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to top, var(--gradient-color1), var(--gradient-color2));
}

#conheca-prep .object #back-circ3 {
    width: 40%;
    height: 40%;

    position: absolute;
    left: 20%;
    top: 5%;
    z-index: 1;
}

#conheca-prep .object img {
    z-index: 2;

    width: 100%;
    height: 100%;
}

/*======================================================
# ANIMAÇÃO DO CELULAR
======================================================*/

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*======================================================
# ESTILIZAÇÃO MOBILE DA SEÇÃO: CONHEÇA A PREP
======================================================*/

@media screen and (min-width: 800px) and (max-width: 1200px) {
    #conheca-prep {
        padding: 80px 40px 60px 40px;
    }

    #conheca-prep .object {
        max-width: 350px;
    }

    #conheca-prep .object #back-circ2 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 800px) {
    #conheca-prep {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    
        width: 100%;
        height: fit-content;
        background-color: var(--white);
        padding: 80px 20px 60px 20px;
    }

    #conheca-prep .info h1 {
        margin-top: 10px;
    }

    #conheca-prep .object {
        max-width: 300px;
    }

    #conheca-prep .object #back-circ2 {
        font-size: 1.3rem;
    }
}

/*======================================================
# SEÇÃO: EQUIPE PREP
======================================================*/

#equipe {
    display: block;
    text-align: center;
    margin: 0 auto;

    width: 100%;
    max-width: 1200px;
    padding: 40px 10px;
    color: var(--black);
}

#equipe h1 {
    background-color: var(--white);
    padding: 10px;
    margin: 0 auto 20px auto;

    width: fit-content;
    font-size: 3rem;
    color: var(--dark-blue);
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}

#equipe > p {
    display: block;
    margin: 20px auto 0 auto;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}

#equipe .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#equipe .box .membro {
    background-color: var(--white);
    display: flex;
    align-items: center;

    max-width: 500px;
    width: 100%;

    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--dark-blue);
}

#equipe .box .membro .nome {
    margin-right: 20px;
}

#equipe .box .membro .nome img {
    width: 150px;
    height: 150px;
    object-fit: cover;

    border-radius: 50%;
}

#equipe .box .membro .nome h2 {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

#equipe .box .membro .nome h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--light-blue);
}

#equipe .box .membro .membro-info p {
    font-size: 1.4rem;
    text-align: left;
}

#equipe .box .membro .membro-info abbr {
    text-decoration: none;
    color: var(--dark-blue);
    cursor: default;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    #equipe {
        padding: 40px 20px;
    }

    #equipe h1 {
        margin: 20px auto;
    }
    
    #equipe .box .membro {
        flex-direction: column;

        height: fit-content;
        margin: 10px 0;
        padding: 10px;
        border-radius: 10px;
    }

    #equipe .box .membro .nome {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        margin-right: 0;

        border-bottom: 2px solid var(--dark-blue);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    #equipe .box .membro .nome img {
        width: 120px;
        height: 120px;
    }
}

/*======================================================
# FOOTER DA HOME
======================================================*/

#footer-index {
    background-image: unset;
    background-color: var(--white);
    color: var(--dark-blue);
}

#footer-index a {
    color: var(--light-blue);
}

#footer-index a:hover {
    color: var(--light-violet);
}

#footer-index #footer-info #contact, #footer-index #footer-info #site-map {
    border-top: 2px solid var(--dark-blue);
}

#footer-index #site-map #list-sections li::before {
    color: var(--dark-blue);
}

#footer-index #rights {
    border-top: 2px solid var(--dark-blue);
}

/*======================================================
# PARTE DA PÁGINA DE OLIMPÍADAS
======================================================*/

#olimpiadas > h1 {
    width: fit-content;
    text-align: center;
    margin: 0px auto 40px auto;
    font-size: 3rem;
}

/*======================================================
# COLOCANDO DEGRADÊ NO TEXTO
======================================================*/

.gradient {
    /* Primeiro passo: definir um degradê como fundo */
    background-image: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2));

    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;

    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: var(--dark-blue);
}

/*======================================================
# FILTROS
======================================================*/

#olimpiadas #filtros {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

#olimpiadas #filtros select {
    padding: 15px 25px;
    border-radius: 10px;
    border: 2px solid var(--purple);
    font-size: 1.5rem;
}               

/*======================================================
# DIV MÊS
======================================================*/

.mes {
    width: 100%;
    margin-top: 30px;
}

.mes > h1 {
    width: fit-content;
    font-size: 2.5rem;
}

.mes .template-olimp {
    margin-left: 40px;
}

.template-olimp {
    border: 2px solid var(--dark-blue);
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;

    transition: all 0.4s ease;
}

.template-olimp:hover {
    border-color: var(--purple);
    box-shadow: 0px 0px 5px var(--purple);
}

.template-olimp .top-bar-olimp {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--dark-blue);
}

.template-olimp .top-bar-olimp .nome {
    font-size: 2.2rem;
    color: var(--dark-blue);
}

.template-olimp .top-bar-olimp .nome img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    margin-right: 1rem;
    vertical-align: middle;
}

.template-olimp a {
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
}

.template-olimp a i {
    font-size: 2.7rem;
    vertical-align: middle;

    color: var(--dark-blue);
}

.template-olimp a:hover i {
    color: var(--light-blue);
}

.template-olimp .modalidade {
    color: var(--light-blue);
    text-transform: uppercase;
    font-size: 1.7rem;

    border-left: 4px solid var(--light-blue);
    padding-left: 10px;
}

.template-olimp .inscricao {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);

    background-color: var(--dark-blue);

    width: fit-content;
    border-radius: 20px;
    padding: 0 10px;
    margin-top: 7px;
}

.template-olimp .descricao {
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: 400;
    color: var(--black);
}

/*======================================================
# ESTILIZAÇÃO MOBILE DA PÁGINA OLIMPÍADAS
======================================================*/

@media screen and (max-width: 800px) {
    .mes {
        width: 100%;
        margin-top: 30px;
    }
    
    .mes > h1 {
        margin-left: auto;
        margin-right: auto;
    }
    
    .mes .template-olimp {
        margin-left: 0;
    }
}

/*======================================================
# PARTE DA PÁGINA DE OLIMPÍADAS
======================================================*/

/*======================================================
# TOP BAR PARA SETAS DE RETORNO
======================================================*/
#bar {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}

#bar a {
    text-decoration: none;
}

#bar a i {
    font-size: 3rem;
    color: var(--dark-blue);

    transition: all 0.2s ease;
}

#bar a:hover i {
    color: var(--light-blue);
}

/*======================================================
# CONTEÚDO DA OLIMPÍADA
======================================================*/

.title {
    background-color: var(--dark-blue);

    width: 100%;
    height: fit-content;
    border-radius: 15px;

    overflow: hidden;
}

.title .olimp-img {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    height: 200px;
}

.title .olimp-img .interative-bar {
    float: right;
    cursor: default;
    padding: 15px;

    background-color: var(--dark-blue);
    border-radius: 0 0 0 20px;
}

.title .olimp-img .interative-bar i {
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;

    margin: 0px 10px;

    transition: all 0.2s ease;
}

.title .olimp-img .interative-bar i.liked {
    color: var(--red);
}

.title .olimp-infos {
    padding: 15px;
    color: var(--white);
}

.title .nome {
    font-size: 3.5rem;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.title .modalidade, .title .inscricao {
    font-size: 2rem;
    border-left: 4px solid var(--white);
    padding-left: 10px;
}

.title .modalidade {
    text-transform: uppercase;
}

.title .inscricao {
    font-weight: 500;
}

/*======================================================
# PARTE DA DESCRIÇÃO
======================================================*/

#olimp .descricao {
    padding-top: 20px;
}

#olimp .descricao > h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#olimp .descricao > p {
    font-size: 1.5rem;
    text-indent: 10px;
}

@media screen and (max-width: 800px) {
    .title .olimp-img .interative-bar {
        padding: 10px;
    }

    .title .nome {
        font-size: 2.8rem;
    }
    
    .title .modalidade, .title .inscricao {
        font-size: 1.6rem;
    }
}
