<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon_io/favicon.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon_io/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon_io/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon_io/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/favicon_io/site.webmanifest') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main-structure.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/pages.css') }}">
  {% endblock head %}
</head>

<body>
  {% block header %}
  <header>
    <div id="logo">
      <svg width="70" height="44" viewBox="0 0 70 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.44242 26.9453H6.90585V16.1672C8.50999 16.1794 9.94882 15.8983 11.2223 15.324C12.4959 14.7497 13.5 13.8576 14.2347 12.6478C14.9817 11.4258 15.3551 9.86162 15.3551 7.95529C15.3551 5.20576 14.5837 3.19556 13.0408 1.92467C11.4979 0.641555 9.44676 0 6.88748 0H2.44242V26.9453ZM6.90585 12.1346V4.06929C8.04467 4.06929 8.8896 4.2587 9.44064 4.63753C9.99168 5.01635 10.3529 5.51737 10.5244 6.1406C10.6958 6.76382 10.7815 7.45426 10.7815 8.21191C10.7815 8.99399 10.6958 9.67832 10.5244 10.2649C10.3529 10.8514 9.99168 11.3097 9.44064 11.6396C8.90184 11.9696 8.05691 12.1346 6.90585 12.1346Z"
          fill="white" />
        <path
          d="M21.1835 26.9453H25.647V15.7823H27.2634L29.5777 26.9453H34.0595L31.1757 13.8943C32.0084 13.4543 32.6513 12.7333 33.1044 11.7313C33.5697 10.7292 33.8024 9.43392 33.8024 7.8453C33.8024 5.18132 33.1166 3.20778 31.7452 1.92467C30.3737 0.641555 28.3348 0 25.6286 0H21.1835V26.9453ZM25.647 11.8229V3.92265C26.9205 3.92265 27.8817 4.28314 28.5308 5.00413C29.1798 5.7129 29.5043 6.68439 29.5043 7.91862C29.5043 9.15285 29.1859 10.1121 28.5491 10.7965C27.9124 11.4808 26.945 11.8229 25.647 11.8229Z"
          fill="white" />
        <path d="M40.3193 26.9453H50.9727V22.876H44.7827V15.4706H49.2278V11.1447H44.7827V4.06929H50.9727V0H40.3193V26.9453Z" fill="white" />
        <path
          d="M57.0873 26.9453H61.5507V16.1672C63.1548 16.1794 64.5937 15.8983 65.8672 15.324C67.1407 14.7497 68.1448 13.8576 68.8795 12.6478C69.6265 11.4258 70 9.86162 70 7.95529C70 5.20576 69.2285 3.19556 67.6856 1.92467C66.1427 0.641555 64.0916 0 61.5323 0H57.0873V26.9453ZM61.5507 12.1346V4.06929C62.6895 4.06929 63.5345 4.2587 64.0855 4.63753C64.6365 5.01635 64.9978 5.51737 65.1692 6.1406C65.3406 6.76382 65.4264 7.45426 65.4264 8.21191C65.4264 8.99399 65.3406 9.67832 65.1692 10.2649C64.9978 10.8514 64.6365 11.3097 64.0855 11.6396C63.5467 11.9696 62.7018 12.1346 61.5507 12.1346Z"
          fill="white" />
        <path
          d="M2.41828 43.8384C3.13481 43.8384 3.71139 43.601 4.14802 43.1261C4.58466 42.6457 4.81417 41.9949 4.83656 41.1737V33.9171C4.81417 33.1015 4.58466 32.4534 4.14802 31.973C3.71139 31.4926 3.13481 31.2524 2.41828 31.2524C1.70735 31.2524 1.13357 31.4926 0.696935 31.973C0.260301 32.4479 0.0279894 33.0959 0 33.9171V41.1737C0.0335873 42.0005 0.265899 42.6513 0.696935 43.1261C1.12797 43.601 1.70175 43.8384 2.41828 43.8384ZM2.41828 42.0787C2.22795 42.0787 2.07961 41.9977 1.97325 41.8357C1.86689 41.6737 1.81371 41.453 1.81371 41.1737V33.9171C1.81371 33.3137 2.01523 33.0121 2.41828 33.0121C2.82133 33.0121 3.02285 33.3137 3.02285 33.9171V41.1737C3.02285 41.453 2.96967 41.6737 2.86331 41.8357C2.75695 41.9977 2.60861 42.0787 2.41828 42.0787Z"
          fill="white" />
        <path d="M7.73372 43.7043H11.9489V42.0284H9.54743V31.3865H7.73372V43.7043Z" fill="white" />
        <path d="M14.3659 43.7043H16.1796V31.3865H14.3659V43.7043Z" fill="white" />
        <path
          d="M19.2105 43.7043H20.8898V35.4421H20.9906L21.0578 35.9617L22.2165 43.7043H22.989L24.1478 35.9617L24.215 35.4421H24.3157V43.7043H25.9951V31.3865H23.7783L22.7035 37.0175L22.6196 37.6711H22.586L22.502 37.0175L21.4272 31.3865H19.2105V43.7043Z"
          fill="white" />
        <path
          d="M29.0242 43.7043H30.8379V38.7772C31.8791 38.7772 32.6712 38.442 33.2142 37.7716C33.7572 37.0957 34.0287 36.1963 34.0287 35.0734C34.0287 33.8891 33.7516 32.9786 33.1974 32.3417C32.6488 31.7049 31.8623 31.3865 30.8379 31.3865H29.0242V43.7043ZM30.8379 36.9337V33.2299C31.4369 33.2299 31.812 33.3864 31.9631 33.6992C32.1199 34.012 32.1982 34.4925 32.1982 35.1405C32.1982 35.7885 32.1199 36.2494 31.9631 36.5231C31.8064 36.7968 31.4313 36.9337 30.8379 36.9337Z"
          fill="white" />
        <path d="M36.6076 43.7043H38.4213V31.3865H36.6076V43.7043ZM36.1962 29.8781H37.5061L38.8327 28.3698H37.0694L36.1962 29.8781Z" fill="white" />
        <path d="M40.9483 43.7043H42.7117L43.0476 41.1905H44.7941L45.13 43.7043H46.8933L45.0292 31.3865H42.8124L40.9483 43.7043ZM43.2995 39.2799L43.8201 35.3919L43.8704 35.0734H43.9712L44.0216 35.3919L44.5422 39.2799H43.2995Z" fill="white" />
        <path
          d="M49.4127 43.7043H50.8402C51.6071 43.7043 52.2285 43.6345 52.7043 43.4948C53.1801 43.3496 53.544 43.0786 53.7959 42.682C54.0478 42.2854 54.2185 41.7156 54.3081 40.9726C54.4032 40.224 54.4508 39.2492 54.4508 38.0482V36.9756C54.4508 35.7913 54.4032 34.8332 54.3081 34.1014C54.2185 33.364 54.045 32.7998 53.7875 32.4087C53.5356 32.0121 53.1717 31.744 52.6959 31.6043C52.2257 31.4591 51.6071 31.3865 50.8402 31.3865H49.4127V43.7043ZM51.2264 41.8943V33.1964C51.5343 33.1964 51.7778 33.2327 51.957 33.3054C52.1417 33.378 52.276 33.5372 52.36 33.783C52.4496 34.0288 52.5056 34.4059 52.5279 34.9142C52.5559 35.417 52.5699 36.1041 52.5699 36.9756V38.0146C52.5699 38.9252 52.5587 39.643 52.5363 40.1682C52.514 40.6877 52.458 41.0704 52.3684 41.3162C52.2844 41.562 52.1501 41.7212 51.9654 41.7938C51.7862 41.8608 51.5399 41.8943 51.2264 41.8943Z"
          fill="white" />
        <path d="M56.8367 43.7043H58.6L58.9359 41.1905H60.6824L61.0183 43.7043H62.7816L60.9175 31.3865H58.7008L56.8367 43.7043ZM59.1878 39.2799L59.7084 35.3919L59.7588 35.0734H59.8595L59.9099 35.3919L60.4305 39.2799H59.1878Z" fill="white" />
        <path
          d="M67.4042 43.8384C68.2271 43.8384 68.8512 43.5814 69.2767 43.0675C69.7077 42.5535 69.9232 41.805 69.9232 40.8218C69.9232 40.2799 69.7945 39.7129 69.537 39.1207C69.2795 38.5286 68.8429 37.7996 68.2271 36.9337C67.6841 36.1684 67.309 35.579 67.1019 35.1656C66.9004 34.7522 66.7996 34.3807 66.7996 34.0511C66.7996 33.297 67.0068 32.9171 67.421 32.9115C67.9024 32.9003 68.1431 33.4925 68.1431 34.688L69.9232 34.5204C69.9232 33.459 69.7021 32.6462 69.2599 32.082C68.8233 31.5121 68.1991 31.2356 67.3874 31.2524C66.6877 31.2636 66.1167 31.5373 65.6745 32.0736C65.2378 32.6043 65.0195 33.2914 65.0195 34.1349C65.0195 35.0678 65.5065 36.2549 66.4806 37.6962C66.8612 38.2548 67.1607 38.7073 67.379 39.0537C67.6029 39.4 67.7681 39.6822 67.8744 39.9C67.9864 40.1123 68.0592 40.2994 68.0927 40.4614C68.1263 40.6235 68.1431 40.7994 68.1431 40.9894C68.1431 41.7826 67.8968 42.1792 67.4042 42.1792C67.1075 42.1792 66.8892 42.0144 66.7493 41.6849C66.6149 41.3497 66.5477 40.8162 66.5477 40.0844L64.7676 40.252C64.6836 42.6429 65.5625 43.8384 67.4042 43.8384Z"
          fill="white" />
      </svg>
    </div>

    <nav>
      <div class="hamburger">
        <i class="fi fi-sr-menu-burger"></i>
      </div>

      <ul class="nav-links">
        <li class="link">
          <a href="{{ url_for('index') }}">
            <i class="fi fi-sr-home"></i>
            Home
          </a>
        </li>

        <li class="link">
          <a href="{{ url_for('olimpiadas') }}">
            <i class="fi fi-sr-badge"></i>
            Olimpíadas
          </a>
        </li>

        <li class="link">
          <a href="{{ url_for('index') }}#equipe">
            <i class="fi fi-sr-comment-user"></i>
            Nossa equipe
          </a>
        </li>
      </ul>
    </nav>
  </header>

  {% endblock header %}

  {% block content %}{% endblock %}

  {% block footer %}

  <footer>
    <div id="footer-info">

      <div id="contact">
        <h1>Prep Olimpíadas</h1>
        <p>Tudo sobre olimpíadas científicas em um só lugar.</p>
        <address>
          <i class="fi fi-sr-at"></i><strong>Instagram: </strong><a href="https://www.instagram.com/prep.olimpiadas/" target="_blank">prep.olimpiadas</a>

          <i class="fi fi-sr-play-alt"></i><strong>Youtube: </strong><a href="https://youtube.com/c/PrepOlimp%C3%ADadas" target="_blank">Olimpíadas Científicas</a>

          <i class="fi fi-sr-browser"></i><strong>Beacons: </strong><a href="http://beacons.ai/prep.olimpiadas" target="_blank">prep.olimpiadas</a>

          <i class="fi fi-sr-envelope"></i><strong>E-mail: </strong><a href="mailto:contato@prepolimpiadas.com.br">contato@prepolimpiadas.com.br</a>
        </address>
      </div>

      <div id="site-map">

        <div class="center">

          <h2>Mapa do Site</h2>
          <ul id="list-sections">
            <li>
              <a href="{{ url_for('index') }}#home">Home</a>
            </li>
            <li>
              <a href="{{ url_for('index') }}#conheca-prep">Conheça a Prep</a>
            </li>
            <li>
              <a href="{{ url_for('index') }}#equipe">Nossa equipe</a>
            </li>
            <li>
              <a href="{{ url_for('olimpiadas') }}">Olimpíadas</a>
            </li>
          </ul>

        </div>

      </div>

    </div>

    <div id="rights">
      <p>&copy; Copyright 2021 <span id="date"></span> <a href="{{ url_for('index') }}">Prep Olimpíadas</a><br>All Rights Reserved</p>

      <p id="designer">Developed by <a href="https://github.com/FilipeSiota" target="_blank">Filipe Siota</a> and <a href="https://github.com/vinimlo" target="_blank">Vinícius Melo</a></p>
    </div>
  </footer>
  {% endblock footer %}

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
