{% extends "base-index.html" %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% block head %}
  {{ super() }}
  <title>Prep Olimpíadas | Home</title>
  {% endblock head %}
</head>

<body id="home">
  <div id="container">
    {% block header %}
    {{ super() }}
    {% endblock header %}

    {% block content %}
    <main id="content" class="main-index">

      <section id="top-part">

        <div class="info">
          <h1 id="slogan">Tudo sobre olímpiadas científicas em um só lugar.</h1>
          <p>Prepare-se, divirta-se e seja um medalhista.</p>
          <a class="btn-link" href="#conheca-prep">Comece aqui</a>
        </div>

        <img src="{{ url_for('static', filename='img/medalha.png') }}" alt="Medalha">

      </section>

      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
          </path>
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
          </use>
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
          </use>
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
          </use>
        </g>
      </svg>

      <section id="conheca-prep">

        <div class="info">
          <h1>Conheça a Prep</h1>
          <ul class="list">
            <li>
              Somos uma organização sem fins lucrativos que já impactou mais de <strong>2 mil jovens</strong> diretamente. Possuímos mais de 8 mil pessoas somadas em nosso
              <a href="https://www.instagram.com/prep.olimpiadas/" target="_blank">Instagram</a>,
              <a href="https://youtube.com/c/PrepOlimp%C3%ADadas" target="_blank">Youtube</a> e
              <a href="https://tiktok.com/@prepolimpiadas" target="_blank">Tiktok</a>.
            </li>
            <li>Nós te ajudamos a conquistar a tão sonhada medalha de ouro!</li>
            <li>E mostramos que você também pode conseguir viagens, amigos e vagas nas faculdades mais renomadas do Brasil e do Mundo com as <strong>olimpíadas científicas</strong>.</li>
          </ul>
          <a class="btn-link blue" href="#equipe">Conheça a equipe</a>
        </div>

        <div class="object">
          <svg id="back-circ1" width="193" height="193" viewBox="0 0 193 193" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="96.5" cy="96.5" r="96.5" fill="url(#paint0_linear_105:84)" />
            <defs>
              <linearGradient id="paint0_linear_105:84" x1="145.748" y1="22.6276" x2="96.5" y2="193" gradientUnits="userSpaceOnUse">
                <stop stop-color="#8B1CC9" />
                <stop offset="0.515625" stop-color="#AD4EE2" />
                <stop offset="0.979167" stop-color="#E3A4F3" />
              </linearGradient>
            </defs>
          </svg>

          <a id="back-circ2" href="https://www.instagram.com/prep.olimpiadas/" target="_blank">Visite o Instagram</a>

          <svg id="back-circ3" width="193" height="193" viewBox="0 0 193 193" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="96.5" cy="96.5" r="96.5" fill="url(#paint0_linear_105:85)" />
            <defs>
              <linearGradient id="paint0_linear_105:85" x1="145.748" y1="22.6276" x2="96.5" y2="193" gradientUnits="userSpaceOnUse">
                <stop offset="0.00520833" stop-color="#533ECD" />
                <stop offset="1" stop-color="#09003D" />
              </linearGradient>
            </defs>
          </svg>

          <img src="{{ url_for('static', filename='img/celular.png') }}" alt="Celular">
        </div>
      </section>

      <section id="equipe">
        <h1>Nossa equipe</h1>

        <div class="box">
          <div class="membro">
            <div class="nome">
              <img src="{{ url_for('static', filename='img/members/millena_martins.jpg') }}" alt="Foto de Millena">
              <h2>Millena Martins</h2>
              <h3>Direção</h3>
            </div>
            <div class="membro-info">
              <p>Millena tem 15 anos e acumula mais de 22 premiações em olimpíadas científicas, sendo 11 medalhas de ouro, entre elas: ouro na <abbr title="Olimpíada Brasileira de Informática">OBI</abbr> (Informática) e ouro <abbr
                  title="Olimpíada Brasileira de Tecnologia">OBT</abbr> (Tecnologia), além de Menção Honrosa na Olimpíada De Pensamento Computacional de Cingapura.</p>
            </div>
          </div>
          <div class="membro">
            <div class="nome">
              <img src="{{ url_for('static', filename='img/members/camila_melo.jpg') }}" alt="Foto de Camila Melo">
              <h2>Camila Melo</h2>
              <h3>Direção</h3>
            </div>
            <div class="membro-info">
              <p>Camila Melo, natural de Marília - <abbr title="São Paulo">SP</abbr>, tem 17 anos e acumula prêmios como menção honrosa na Trinity College essay competition da Universidade de Cambridge, 2° lugar na competição internacional de escrita
                de Philadelphia, além de menções e medalhas em olimpíadas nacionais e internacionais como <abbr title="Olimpíada Nacional em História do Brasil">ONHB</abbr>, <abbr title="Olimpíada de Matemática da Unicamp">OMU</abbr> e Climate
                Science Olympiad.</p>
            </div>
          </div>

          <div class="membro">
            <div class="nome">
              <img src="{{ url_for('static', filename='img/members/filipe_siota.jpg') }}" alt="Foto de Filipe Siota">
              <h2>Filipe Siota</h2>
              <h3>Site</h3>
            </div>
            <div class="membro-info">
              <p>Filipe tem 17 anos, vive em Canoas, região metropolitana de Porto Alegre - <abbr title="Rio Grande do Sul">RS</abbr>. Atualmente está realizando o Curso Técnico em Desenvolvimento de Sistemas Integrado ao Ensino Médio no <abbr
                  title="Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Sul">IFRS</abbr> - Campus Canoas. Adora programação e o desenvolvimento web, além de ser apaixonado por praticar esportes.</p>
            </div>
          </div>

          <div class="membro">
            <div class="nome">
              <img src="{{ url_for('static', filename='img/members/vinicius_melo.jpg') }}" alt="Foto de Vinícius Melo">
              <h2>Vinícius Melo</h2>
              <h3>Site</h3>
            </div>
            <div class="membro-info">
              <p>Vinícius Melo, soteropolitano, 19 anos. Medalhista na <abbr title="Olimpíada Nacional de Ciências">ONC</abbr>, <abbr title="Olimpíada Brasileira de Robótica">OBR</abbr>, <abbr title="Olimpíada Brasileira de Astronomia">OBA</abbr> e
                <abbr title="Sapientia – Olimpíada do Futuro">Sapientia</abbr>. Tem um enorme desejo de tornar o mundo mais próspero e justo através da robótica e computação. Também gosta de conversar sobre ciência, filosofia e política.
              </p>
            </div>
          </div>

        </div>

        <p>+ 30 voluntários</p>

      </section>

    </main>

    {% endblock content %}

    {% block footer %}
    {{ super() }}
    {% endblock footer %}
  </div>

</html>
