{% extends "base.html" %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% block head %}
  {{ super() }}
  <title>Prep Olimpíadas | Informações sobre Olimpíadas</title>
  {% endblock head %}
</head>

<body>
  <div id="container">
    {% block header %}
    {{ super() }}
    {% endblock header %}

    {% block content %}
    <main id="content">

      <div id="bar">

        <a href="olimpiadas.html">
          <i class="fi fi-sr-undo"></i>
        </a>

      </div>

      <section id="olimp">

        <div class="title">

          <div class="olimp-img" style="background-image: url('{{ image }}')">

            <div class="interative-bar">
              <i class="fi fi-sr-bookmark like"></i>
              <i class="fi fi-sr-heart like"></i>
            </div>

          </div>

          <div class="olimp-infos">
            <h1 class="nome">{{ name }}</h1>

            <h2 class="modalidade">Olimpíada de {{ area }}</h2>

            <h2 class="inscricao">{{ date }}</h2>
          </div>

        </div>

        <div class="descricao">
          <h2>Descrição:</h2>
          <p>
            {{ description }}
          </p>
        </div>

      </section>
    </main>
    {% endblock content %}

    {% block footer %}
    {{ super() }}
    {% endblock footer %}
  </div>

</body>

</html>
