{% extends "base.html" %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% block head %}
  {{ super() }}
  <title>Prep Olimpíadas | Olimpíadas</title>
  {% endblock head %}
</head>

<body>
  <div id="container">
    {% block header %}
    {{ super() }}
    {% endblock header %}

    {% block content %}
    <main id="content">
      <section id="olimpiadas">

        <h1 class="gradient">Fique por dentro de tooodas as novidades olímpicas por aqui!</h1>

        <!-- <div id="filtros">
          <select name="" id="">
            <option value="" selected>Selecione</option>

            <optgroup label="Grupo 1">
              <option value="">Opção 1</option>
              <option value="">Opção 2</option>
              <option value="">Opção 3</option>
            </optgroup>
          </select>
        </div> -->
        {% for olympiad in olympiad_list['list'] %}
        <!-- <div class="mes"> -->
          <!-- <h1 class="gradient">Nome do mês</h1> -->

          <div class="template-olimp">

            <div class="top-bar-olimp">
              <h1 class="nome"><img src="{{ url_for('static', filename=olympiad['logo_src']) }}" alt="Logo da Olimpíada">{{ olympiad["name"] }}</h1>

              <!-- <a href="{{url_for('info_olimpiada', name=olympiad['name'], area=olympiad['area'], date=olympiad['date'], description=olympiad['description'], image=olympiad['banner_img'])}}"> -->
              <a href="#">
                <i class="fi fi-sr-eye"></i>
              </a>

            </div>

            <h2 class="modalidade">Olimpíada de {{ olympiad["area"] }}</h2>

            <h2 class="inscricao">{{ olympiad["date"] }}</h2>

            <p class="descricao">
              {{ olympiad["short_description"] }}
            </p>

          </div>
        <!-- </div> -->
        {% endfor %}
      </section>
    </main>
    {% endblock content %}

    {% block footer %}
    {{ super() }}
    {% endblock footer %}
  </div>

</body>

</html>
